<template>
  <nmg-login-page
    title="BOILER TEMPLATE APP"
    @forgot-pass="onForgotPassClick"
    @back-to-signin="returnToCustomLogin"
    :on-form-submit="onLoginSubmit"
    :service="loginServices"
    :loading="isLoading"
  >

    <div slot="form" class="login-comp-container loading" v-if="isLoading" key="loading">
      <nmg-loading-circle class="loader" bar-color="#F16327" spin :value="75"/>
    </div>

    <div class="login-comp-container" slot="form" v-else-if="msg.length > 0">
      <p>{{ msg }}</p>
      <a v-if="showReturnToSignIn" class="return-sign-in" @click="returnToCustomLogin">Return to Sign in</a>
    </div>

    <div v-else-if="passForm === FORMS.forgotPassword" slot="form" key="forgotPass" class="login-comp-container">
      <nmg-forgot-pass-form
        class="login"
        :onSubmit="onForgotPassSubmit"
        @signin="returnToCustomLogin"
      />
    </div>

    <div v-else-if="passForm === FORMS.resetPassword" slot="form" key="resetPass" class="login-comp-container">
      <nmg-reset-pass-form
        class="login"
        :onSubmit="onResetPassSubmit"
        @signin="returnToCustomLogin"
      />
    </div>

  </nmg-login-page>
</template>

<script>
import * as authActions from '@/store/auth/actions';
import * as sessionActions from '@/store/session/actions';
import { scrollTopOnMounted } from '@/mixins';

export default {
  name: 'Login',
  mixins: [scrollTopOnMounted],
  data() {
    return {
      loginServices: ['google'],
      msg: '',
      isLoading: false,
      showReturnToSignIn: false,
      FORMS: {
        resetPassword: 0,
        forgotPassword: 1,
      },
      passForm: -1,
    };
  },
  created() {
    const { token, username } = this.$route.query;
    if (token && username) {
      this.handleTokenValidation(token, username);
    }
  },
  methods: {
    async handleTokenValidation(token, username) {
      this.isLoading = true;
      const response = await this.$store.dispatch(authActions.validateToken, { token, username });
      const { ok, reason } = response.body;
      if (ok) {
        this.passForm = this.FORMS.resetPassword;
        this.showReturnToSignIn = false;
      } else {
        this.showReturnToSignIn = true;
        this.msg = reason;
      }
      this.isLoading = false;
    },
    async onResetPassSubmit(password) {
      try {
        this.isLoading = true;
        await this.$store.dispatch(authActions.resetPassAndLogin, { password });
        this.$router.push('/');
      } catch (error) {
        this.msg = error;
        this.isLoading = false;
      }
    },
    async onLoginSubmit({ username, password }) {
      this.isLoading = true;
      const response = await this.$store.dispatch(sessionActions.login, { username, password });
      const isAuthorized = response.status === 200;
      if (isAuthorized) {
        this.$router.push('/');
      } else {
        this.isLoading = false;
      }
      return response;
    },
    async onForgotPassSubmit(username) {
      try {
        this.isLoading = true;
        const resp = await this.$store.dispatch(authActions.forgotPass, { username });
        const { ok, reason } = resp.body;
        if (ok === false) {
          this.msg = reason;
          this.showReturnToSignIn = true;
        } else {
          this.msg = 'Please check your email';
          this.showReturnToSignIn = false;
        }
      } catch (error) {
        this.msg = error;
        this.showReturnToSignIn = true;
      }
      this.isLoading = false;
    },
    onForgotPassClick() {
      this.passForm = this.FORMS.forgotPassword;
    },
    returnToCustomLogin() {
      this.msg = '';
      this.passForm = -1;
      this.$router.replace('/login');
    },
  },
};
</script>

<style lang="scss" scoped>
.circular-progress-bar.loader.spin {
  &::after{
    background-color : #fece3c;
  }
}
.loading{
  width: 100%;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.return-sign-in{
  color: #3366BB;
  cursor: pointer;
}
.login-comp-container{
  margin-top: 100px;
}
</style>
