<template>
  <div>
    <div class="overview-title">
      {{ overviewTitle }}
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import * as OverviewActions from '@/store/overview/actions';

export default {
  created() {
    this.fetchOverviewTitle();
  },
  computed: {
    ...mapGetters({
      overviewTitle: 'overview/overviewTitle',
    }),
  },
  methods: {
    async fetchOverviewTitle() {
      console.log('OverviewActions.fetchOverviewTitle', OverviewActions.fetchOverviewTitle);
      await this.$store.dispatch(OverviewActions.fetchOverviewTitle);
    },
  },
};
</script>
<style lang="scss">
  .overview-title {
    text-align: center;
    white-space: pre;
  }
</style>
