@font-face {
	font-family: NmgFonts;
	font-weight: bold;
	src: url('../assets/fonts/gotham/GothamPro-Bold.eot') format('eot'),
	url('../assets/fonts/gotham/GothamPro-Bold.woff') format('woff'),
	url('../assets/fonts/gotham/GothamPro-Bold.ttf')  format('truetype'),
	url('../assets/fonts/gotham/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
}

@font-face {
	font-family: NmgFonts;
	font-weight: 500;
	src: url('../assets/fonts/gotham/GothamPro-Medium.eot') format('eot'),
	url('../assets/fonts/gotham/GothamPro-Medium.woff') format('woff'),
	url('../assets/fonts/gotham/GothamPro-Medium.ttf')  format('truetype'),
	url('../assets/fonts/gotham/GothamPro-Medium.svg#GothamPro-Bold') format('svg');
}

@font-face {
	font-family: NmgFonts;
	font-weight: 300;
	src: url('../assets/fonts/gotham/GothamPro.eot') format('eot'),
	url('../assets/fonts/gotham/GothamPro.woff') format('woff'),
	url('../assets/fonts/gotham/GothamPro.ttf')  format('truetype'),
	url('../assets/fonts/gotham/GothamPro.svg#GothamPro-Bold') format('svg');
}

@font-face {
	font-family: NmgFonts;
	font-weight: 100;
	src: url('../assets/fonts/gotham/GothamPro-Light.eot') format('eot'),
	url('../assets/fonts/gotham/GothamPro-Light.woff') format('woff'),
	url('../assets/fonts/gotham/GothamPro-Light.ttf')  format('truetype'),
	url('../assets/fonts/gotham/GothamPro-Light.svg#GothamPro-Bold') format('svg');
}
