@import "./fonts.scss";
body {
	font-size:14px;
	background-color:rgb(240, 240, 240);
  color: #303030;
	font-family: NmgFonts;
	font-weight: normal;
	overflow: hidden;
}

ul{
	padding:0;
	list-style-type: none;
}
