<template>
  <div class="layout-content">
    <top-bar />
    <side-nav />
    <div id="viewcontainer" class="view-container">
      <transition name="fade" mode="out-in">
        <router-view class="view" />
      </transition>
      <nmg-footer />
    </div>
  </div>
</template>


<script>
import Topbar from './Topbar';
import SideNav from './SideNav';

export default {
  name: 'Layout-Content',
  components: {
    'top-bar': Topbar,
    'side-nav': SideNav,
  },
};
</script>

<style lang="scss" scoped>
.view-container{
  position: absolute;
  left: 50px;
  right: 0;
  bottom: 0;
  top: 50px;
  overflow-x: hidden;
  .view{
    padding: 22px 30px;
    max-width: 1380px;
    margin: auto;
  }
}

@media print {
  .view-container {
    left: 0;
    right: 0;
    bottom: 0;
    top: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }
}
</style>
