<template>
  <nmg-side-nav
    :navigationItems="navigationItems"
    :path="$route.path"
    :changeRoute="changeRoute"
  />
</template>


<script>
import navigationItems from '@/navconfig';

export default {
  name: 'SideNav',
  computed: {
    navigationItems() {
      return Object.keys(navigationItems)
        .reduce((acc, val) => {
          acc[val] = navigationItems[val];
          return acc;
        }, {});
    },
  },
  methods: {
    changeRoute(route) {
      this.$router.push(route.navigateTo);
    },
  },
};
</script>
<style lang="scss">
  .dashboard-navigation {
    position: absolute !important;
    bottom: 0;
    height: 100% !important;
  }
</style>
