<template>
  <div class="top-bar-container">
    <nmg-top-bar
      :title="'MY APP TITLE'"
      :on-logout-click="clickedLogout"
      :on-title-click="titleClicked"
      :on-client-change="onClientChange"
      :on-domain-change="onDomainChange"
      :on-settings-click="onSettingsClick"
      :selected-domain="selectedDomain"
      :domains="domains"
      :selected-client="selectedClient"
      :clients="clients"
    />
  </div>
</template>


<script>
import * as sessionActions from '@/store/session/actions';

export default {
  name: 'Topbar',
  data() {
    return {
      domains: [],
      selectedDomain: {},
      selectedClient: {},
      clients: [],
    };
  },
  methods: {
    async clickedLogout() {
      await this.$store.dispatch(sessionActions.logout);
      this.$router.push('/login');
    },
    titleClicked() {
      this.$router.push('/');
    },
    onClientChange() {},
    onDomainChange() {},
    onSettingsClick() {},
  },
};
</script>
<style lang="scss">
  .top-bar-container {
    height: 50px;
  }
</style>
