<template>
  <div id="app">
    <transition name="fade" mode="out-in">
      <router-view class="parent-view">
        <layout-content />
      </router-view>
    </transition>
  </div>
</template>

<script>
import LayoutContent from './components/LayoutContent';

export default {
  name: 'App',
  components: {
    LayoutContent,
  },
};
</script>

<style lang="scss">
  .fade-enter-active, .fade-leave-active {
    transition: opacity 250ms ease;
  }
  .fade-enter, .fade-leave-to{
    opacity: 0;
  }
  #app {
    font-family: NmgFonts;
  }
</style>
